{
    padding: 0;
    margin: 0;
    box-sizing;
    font-family: sans-serif;
}

section{
    position: relative;
    width: 1280px;
    height: 720px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    min-height: 100vh;
    padding: 50px;
    background-image: url(bg16.jpg);
    background-size:cover;
    background-position:center;
}

    header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 5px 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav{
        position: fixed;
        z-index: 100;
        top: 15px;left: 0;
        right: 0;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;padding: 0 70px 0 70px;
        padding: 0 70px 0 70px;
    }
    
    header .logo{
        position: relative;
        max-width: 210px;
    }
    
    header ul{
        position: relative;
        display: flex;
    }
    
    header ul li{
        list-style-type: style none;
    }
    
    header ul li a{
        display: inline-block;
        margin-right: 60px;
        color: white;
        text-transform: none;
        font-size: 20px;
        text-decoration: none;
    }
    
    header ul li a:hover{
        color: red;
    }
}
.content{
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    width: 97px;
    justify-content: space-between;
    align-items: center;
    animation: initial 2s ease-in border;
}
    .picture{
        position: relative;
        display:inherit;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;padding: 0 70px 0 70px;
        padding: 0 70px 0 70px;
       
        }
        .gambar1{
            position: relative;
            max-width: 200px;
            width: 200px;
            height: 250px;
            object-fit: cover;
            margin-left: 30px;
            margin-right: 35px;
            margin-bottom: 50px;
            margin-top: 80px;
            border:red;
            border-radius: 5px;
        }
        .gambar2{
            position: relative;
            max-width: 200px;
            width: 200px;
            height: 250px;
            object-fit: cover;
            margin-left: 70px;
            margin-right: 35px;
            margin-bottom: 50px;
            border-radius: 5px;
        }
        .gambar3{
            position: relative;
            max-width: 200px;
            width: 200px;
            height: 250px;
            object-fit: cover;
            margin-left: 70px;
            margin-right: 35px;
            margin-bottom: 50px;
            border-radius: 5px;
        }
        .gambar4{
            position: relative;
            max-width: 200px;
            width: 200px;
            height: 250px;
            object-fit: cover;
            margin-left: 70px;
            margin-right: 30px;
            margin-bottom: 50px;
            border-radius: 5px;
        }
        .gambar5{
            position:relative;
            max-width: 200px;
            width: 200px;
            height: 250px;
            object-fit: cover;
            margin-right: 35px;
            margin-left: 30px;
            margin-bottom: 50px;
            border-radius: 5px;
        }
        .gambar6{
            position: relative;
            max-width: 200px;
            width: 200px;
            height: 250px;
            object-fit: cover;
            margin-left: 70px;
            margin-right: 35px;
            margin-bottom: 50px;
            border-radius: 5px;
        }
    }
}